{% layout 'alternative' %}
<h2>Change your password</h2>

{% form 'reset_password' %}
  {% include 'folder/errors' %}

  <div>
    <label for="user_password">Password</label><br>
    <input id="user_password" name="user[password]" type="password" class="required" required="required" aria-required="true">
  </div>

  <div>
    <label for="user_password_confirmation">Confirm your new password</label><br>
    <input id="user_password_confirmation" name="user[password_confirmation]" type="password" class="required" required="required" aria-required="true">
  </div>

  <div class="form-actions">
    <input name="commit" type="submit" value="Change my passwords">
  </div>

{% endform %}